transformer/src/main/app/complextransformer2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="complextransformer2Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/transform2" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="d512e6b5-de33-40b8-b00f-67b0033249ea">
            <dw:input-payload doc:sample="sample_data\empty.xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
%type mydate =  :date {format: "yyyy-MM-dd"} 
 
---

	 products:    payload.products.*product map {
	product: {
	pname: $.pname,
	offerPrice: $.offerPrice as :number,
	offerDue: $.offerValidDate as :mydate as :string {format: "MMM-dd"},
	brandName: $.brandName}
	
	}
	
]]></dw:set-payload>
        </dw:transform-message>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
</mule>
